%li{class: "chat__line"}
	.chat__picture
		=image_tag(@line.user.avatar, :class => 'avatar avatar--s')
	.chat__conv
		.chat__time
			%i.fa.fa-clock-o{"aria-hidden" => "true"}
			=time_ago_in_words(@line.created_at).humanize
		.chat__name.txt-primary
			=@line.user.name
		.chat__text
			=@line.body