<% publish_to "/chats" do %>
	var id = "<%= @chat.id %>";
    var chatbox = $("#chat" + id + " .row .chat__lines");
    var sender_id = "<%= @line.user.id %>";
    var reciever_id = "<%=@chat.interlocutor(@line.user.id).id%>"
    var current_user_id = $('meta[name=user-id]').attr("content");

	if ($("#chat").find("#chat__conv-list").length && reciever_id == current_user_id){
		$.get( "chats.js", function( data ) {});
		unmute_sound("alert");
	}else{
		if (reciever_id == current_user_id) {
			chatbox.append("<%= j render :partial => 'lines/line' %>");
			unmute_sound("alert");
		}else{
			chatbox.append("<%= j render :partial => 'lines/line_self' %>");
		}
		$("#chat" + id).scrollTop($("#chat" + id).prop("scrollHeight"));
		$(".chat__input").val("");
	}
<% end %>