.modal.fade.add-outsider__modal{:role => "dialog"}
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4.modal-title Agregar contacto
			.modal-body
				= form_for :outsider, :url => outsiders_path(@outsider), :html => {:class => 'form form--contacts'} do |f|
					.field
						%label Nombre:
						= f.text_field :first_name, autofocus: true
					.field
						%label Apellidos:
						= f.text_field :last_name, autofocus: true
					.field
						%label Correo:
						= f.email_field :email, autofocus: true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'
					.field
						%label Identificador SIP:
						= f.text_field :sip_id, autofocus: true
					.field
						%label Servidor SIP:
						= f.text_field :sip_server, autofocus: true
					-if !current_user.admin_groups.empty?
						.field
							%label Compartir contacto con los grupos:
							= f.collection_select(:group_ids, current_user.admin_groups, :id, :name, {:include_blank => 'Sin grupo'}, {:multiple => true})
					.action
						= f.submit "Agregar", class: "btn btn-primary"