.modal.fade{:role => "dialog", :id => 'modal-group'+g.id.to_s}
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4.modal-title Agregar contacto al grupo
			.modal-body
				%ul.list.list--dashed.list--contacts.list--add-group
					-current_user.outsiders.each do |o|
						%li
							.list__left
								.list__avatar.pull-left
									=image_tag('icons/default-avatar.png', :class => 'avatar avatar--s')
							.list__center
								.list__info
									%span.list__cont-name.txt-shorten.txt-primary
										=o.name
							.list__right
								-if !g.outsiders.include?(o)
									%object
										=link_to join_outsider_path(o, :group_id => g.id), :remote => true, :class => "btn btn-primary btn-xs list__icon pull-right",'data-disable-with' => '<i class="fa fa-lg fa-plus-square"/>', :id => 'add'+o.id.to_s do
											%i.fa.fa-lg.fa-plus-square
					-current_user.friendships.each do |f|
						%li
							.list__left
								.list__avatar.pull-left
									=image_tag(f.friend.avatar, :class => 'avatar avatar--s')
							.list__center
								.list__info
									%span.list__cont-name.txt-shorten.txt-primary
										=f.friend.name
							.list__right
								-if !g.users.include?(f.friend)
									%object
										=link_to join_user_path(f.friend, :group_id => g.id), :remote => true, :class => "btn btn-primary btn-xs list__icon pull-right",'data-disable-with' => '<i class="fa fa-lg fa-plus-square"/>', :id => 'add'+f.id.to_s do
											%i.fa.fa-lg.fa-plus-square