.modal.fade.statistics__modal#missed-calls__modal{:role => "dialog"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4.modal-title Llamadas perdidas
			.modal-body.call-details#list__missed-calls
				%ul.list.list--dashed.list--contacts.list--call-details
					%div{:style => "display:none;"}
						%li#template
						
					-current_user.unanswered_calls.last(30).reverse.each do |i|
						-if i.caller
							%li
								.list__left
									.list__call-started#list__call-started
										=i.created_at
								.list__center
									.list__avatar.pull-left
										=image_tag(i.caller.avatar, :class => 'avatar avatar--m')
									.list__info
										%span.list__cont-name.txt-shorten.txt-primary
											=i.caller.name
									.list__actions
				%ul.pagination.pull-right
