.modal.fade.statistics__modal#sended-calls__modal{:role => "dialog"}
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4.modal-title Llamadas envíadas
			.modal-body.call-details#list__sended-calls
				%ul.list.list--dashed.list--contacts.list--call-details
					%div{:style => "display:none;"}
						%li#template
						
					-current_user.caller_calls.last(30).reverse.each do |i|
						-if i.callee
							%li
								.list__left
									.list__call-started#list__call-started
										=i.created_at
								.list__center
									.list__avatar.pull-left
										=image_tag(i.callee.avatar, :class => 'avatar avatar--m')
									.list__info
										%span.list__cont-name.txt-shorten.txt-primary
											=i.callee.name
									.list__actions
								.list__right
									%span.txt-primary.list__cont-duration
										=i.duration
										s
				%ul.pagination.pull-right
