<% publish_to "/user/status/#{@update_id}" do %>
	var status_div = $(".presence__<%=@update_id%>");
	var status_text = $(".presence__<%=@update_id%>-text");
	var new_color_class = "presence--Gris";
	var new_title = "Desconectado";

	status_div.removeClass (function (index, css) {
	    return (css.match (/(^|\s)presence--\S+/g) || []).join(' ');
	});
	status_div.addClass(new_color_class);
	status_div.prop("title", new_title);
	status_text.text(new_title);
<% end %>

window.location = "/"