.management
	%ul.nav.nav-tabs
		%li.active
			= link_to statuses_path do
				Listado
		%li
			= link_to new_status_path do
				Crear estado
	.management__content
		.management__table-wrapper
			.top
				.management__search.input-group.input-group-sm
					%span.input-group-addon
						%i.fa.fa-circle-o
					%input.search.input-sm.form-control{'placeholder' => 'Buscar estado', 'type' => 'text'}
			
			%table._table-pag
				%thead
					%th ID
					%th Nombre
					%th Color
					%th Hacer llamadas
					%th Recibir llamadas
					%th Usar Chat
					%th Acciones
				%tbody
					- @statuses.each do |s|
						%tr
							%td
								= s.id
							%td
								= s.name
							%td
								= s.color
							%td
								= s.receive_calls
							%td
								= s.make_calls
							%td
								= s.use_chat
							%td
								= link_to edit_status_path(s) do
									%i.fa.fa-lg.fa-pencil-square-o
								-if s.by_default == true
									%i.fa.fa-lg.fa-trash-o
								-else
									= link_to status_path(s), method: :delete, data: { :confirm => 'El estado será borrado permanentemente, ¿está seguro?' } do
										%i.fa.fa-lg.fa-trash-o