.management
    %ul.nav.nav-tabs
        %li
            = link_to statuses_path do
                Listado
        %li.active
            = link_to new_status_path do
                Crear estado
    .management__content
        =render 'statuses/partials/form_status'