= form_for(@status, :html=> {:class => 'form form--management'}) do |f|
	.field
		%label Nombre:
		= f.text_field :name, autofocus: true
	.field
		%label Color:
		= f.select :color, options_for_select([ "Verde", "Rojo", "Gris", "Amarillo"], @status.color)
	.field
		%label Puede hacer llamadas:
		= f.check_box :make_calls
	.field
		%label Puede recibir llamadas:
		= f.check_box :receive_calls
	.field
		%label Puede usar el chat:
		= f.check_box :use_chat
	.field
		%label Permanente:
		= f.check_box :by_default
	.action.bottom
		= f.submit "Aceptar", class: "btn btn-primary"
		= link_to statuses_path, class: "btn btn-default" do
			Cancelar