.statistics__calls
	.panel.panel-primary
		.panel-heading
			.statistics__info
				.statistics__icons
					%i.mdi.mdi-phone-outgoing
				.statistics__text
					%h1
						=current_user.caller_calls.size
					%div Llamadas enviadas

		%a{:href => "#", :onclick => "javascript:void(0)", "data-target" => "#sended-calls__modal", "data-toggle" => "modal"}
			.panel-footer
				%span Ver detalles
				%span.pull-right
					%i.fa.fa-arrow-circle-right
.statistics__calls
	.panel.panel-yellow
		.panel-heading
			.statistics__info
				.statistics__icons
					%i.mdi.mdi-phone-incoming
				.statistics__text
					%h1 
						=current_user.callee_calls.size
					%div Llamadas recibidas

		%a{:href => "#", :onclick => "javascript:void(0)", "data-target" => "#received-calls__modal", "data-toggle" => "modal"}
			.panel-footer
				%span Ver detalles
				%span.pull-right
					%i.fa.fa-arrow-circle-right
.statistics__calls
	.panel.panel-red
		.panel-heading
			.statistics__info
				.statistics__icons
					%i.mdi.mdi-phone-missed
				.statistics__text
					%h1
						=current_user.unanswered_calls.size
					%div Llamadas perdidas

		%a{:href => "#", :onclick => "javascript:void(0)", "data-target" => "#missed-calls__modal", "data-toggle" => "modal"}
			.panel-footer
				%span Ver detalles
				%span.pull-right
					%i.fa.fa-arrow-circle-right