%div{:style => "display:none;"}
	%li#template

-if group.users.length > 1
	-group.users.each do |u|
		-next if u == current_user
		=link_to user_path(u), :remote => true do
			%li
				.list__left
					.list__avatar.pull-left
						=image_tag(u.avatar, :class => 'avatar avatar--s')
				.list__center
					.list__info
						%span.list__cont-name.txt-shorten.txt-primary
							=u.name
					.list__actions
						%object
							=call_to(u, "audio", "primary", "friend")
						%object
							=call_to(u, "video", "warning", "friend")
						%object
							=chat_with(u, "fa-comments", "success")
						-#Si el usuario actual es administrador del grupo, puede sacar contactos agregados por él u otro administrador del grupo
						-if current_user.admin_groups.include?(group) && u != current_user && !u.admin_groups.include?(group)
							%object
								=remove_from_group(u, "user")
				.list__right
					-if u.admin_groups.include?(group)
						.span.label.label-success.pull-right
							Mod
					-if !current_user.friends.any? {|f| f == u} && current_user != u
						%object
							=befriend(u, "friend")

	-group.outsiders.each do |c|
		=link_to outsider_path(c), :remote => true, class:"_li-name" do
			%li
				.list__left
					.list__avatar.pull-left
						=image_tag('icons/default-avatar.png', :class => 'avatar avatar--s')
				.list__center
					.list__info
						%span.list__cont-name.txt-shorten.txt-primary
							=c.name
					.list__actions
						%object
							=call_to(u, "audio", "primary", "outsider")
						-#Si el usuario actual es administrador del grupo, puede sacar contactos agregados por él u otro administrador del grupo
						-if current_user.admin_groups.include?(group)
							=remove_from_group(c, "outsider")

				.list__right
					-if !current_user.outsiders.include?(c)
						%object
							=befriend(c, "outsider")


				-#Si el contacto pertenece al usuario actual, indicamos que es editable con el icono del lapiz
				-if !current_user.outsiders.empty?
					%i.fa.fa-pencil.list__editable
-else
	.list__empty Grupo vacío