#contacts__uni-list
	.contacts__search.input-group.input-group-sm
		%span.input-group-addon
			%i.glyphicon.glyphicon-user
		%input.search.input-sm.form-control{'placeholder' => 'Buscar usuario', 'type' => 'text'}
	

	%ul.list.list--dashed.list--contacts
		%div{:style => "display:none;"}
			%li#template
			
		-@users.each do |u|
			-next if u == current_user
			=link_to user_path(u), :remote => true  do
				%li
					.list__left
						.list__avatar.pull-left
							=image_tag(u.avatar, :class => 'avatar avatar--s')
					.list__center
						.list__info
							%span.list__cont-name.txt-shorten.txt-primary
								=u.name
						.list__actions
							%object
								=call_to(u, "audio", "primary", "friend")
							%object
								=call_to(u, "video", "warning", "friend")
							%object
								=chat_with(u, "fa-comments", "success")
					.list__right
						-if !current_user.friends.any? {|f| f == u} && current_user != u
							%object
								=befriend(u, "friend")

	.contacts__bottom
		%ul.pagination
		