#contacts__group-list
	.contacts__search.input-group.input-group-sm
		%span.input-group-addon
			%i.fa.fa-users
		%input.search.input-sm.form-control{'placeholder' => 'Buscar grupos', 'type' => 'text'}
	

	%ul.list.list--dashed.list--groups
		-current_user.groups.each do |g|
			%li
				-if current_user.admin_groups.include?(g)
					%a.btn-s.list__add-to-group.pull-right{:href => "javascript:void(0)"}
						%i.fa.fa-plus-square{"data-target" =>'#modal-group'+g.id.to_s, "data-toggle" => "modal"}
					
					.group-join-modal
						=render 'home/partials/modals/group_contact_modal', :g => g
				
				=link_to 'javascript:;',{ 'data-toggle'=>'collapse', 'data-target'=>'#group'+g.id.to_s} do
					.list__info
						%span.list__name._li-name.txt-primary{:href=>'#'}
							=g.name
						%i.fa.fa-caret-down.fa-1x
						%span.list__description._li-description.txt-secondary
							=g.description

				%ul.list.list--dashed.list--nested.list--contacts.collapse{:id => 'group'+g.id.to_s}
					=render 'home/partials/contacts/tab_group_list', :group => g
	.contacts__bottom							
		%ul.pagination