#contacts__personal-list
	%a.btn-s.contacts__add.pull-right{:href => "javascript:void(0)"}
		%i.fa.fa-2x.fa-plus-square{"data-target" => ".add-outsider__modal", "data-toggle" => "modal"}
	=render 'home/partials/modals/add_outsider_modal'

	.contacts__search.contacts__search--personal.input-group.input-group-sm
		%span.input-group-addon
			%i.glyphicon.glyphicon-user
		%input.search.input-sm.form-control{'placeholder' => 'Buscar contactos', 'type' => 'text'}

	%ul.list.list--dashed.list--contacts
		%div{:style => "display:none;"}
			%li#template	
			
		-current_user.outsiders.each do |c|
			=link_to outsider_path(c), :remote => true do
				%li
					.list__left
						.list__avatar.pull-left
							=image_tag('icons/default-avatar.png', :class => 'avatar avatar--s')
							.avatar__status.avatar__status--unknown
								?
					.list__center
						.list__info
							%span.list__cont-name.txt-shorten.txt-primary
								=c.name
						.list__actions
							%object
								=call_to(c, "audio", "primary", false)
					.list__right
						%object
							=break_friendship(c, "outsider")
					%i.fa.fa-pencil.list__editable
		-current_user.friendships.each do |f|
			=subscribe_to "/user/status/#{f.friend.id}"
			=link_to user_path(f.friend), :remote => true  do
				%li
					.list__left
						.list__avatar.pull-left
							=image_tag(f.friend.avatar, :class => 'avatar avatar--s')
							%div{:title => f.friend.status.name,:class => "presence presence__#{f.friend.id} avatar__status presence--#{f.friend.status.color}"}
					.list__center
						.list__info
							%span.list__cont-name.txt-shorten.txt-primary
								=f.friend.name
						.list__actions
							%object
								=call_to(f.friend, "audio", "primary", false)
							%object
								=call_to(f.friend, "video", "warning", false)
							%object
								=chat_with(f.friend, "fa-comments", "success")
					.list__right
						%object
							=break_friendship(f, "friend")
	.contacts__bottom
		%ul.pagination
