.management
    %ul.nav.nav-tabs
        %li
            = link_to groups_path do
                Listado
        %li
            = link_to new_group_path do
                Crear grupo
        %li.active
            %a{:href => '#'}
                Editar grupo
    .management__content
        %h1 Edición de grupo
        %hr
        =render 'groups/partials/form_group'