.management
	%ul.nav.nav-tabs
		%li.active
			= link_to groups_path do
				Listado
		%li
			= link_to new_group_path do
				Crear grupo
	.management__content
		.management__table-wrapper
			.top
				.management__search.input-group.input-group-sm
					%span.input-group-addon
						%i.fa.fa-users
					%input.search.input-sm.form-control{'placeholder' => 'Buscar grupo', 'type' => 'text'}
			
			%table._table-pag
				%thead
					%th ID
					%th Nombre
					%th Descripción
					%th Acciones
				%tbody
					- @groups.each do |g|
						%tr
							%td
								= g.id
							%td
								= g.name
							%td
								= g.description
							%td
								= link_to edit_group_path(g) do
									%i.fa.fa-lg.fa-pencil-square-o
								= link_to group_path(g), method: :delete, data: { :confirm => 'El grupo será borrado permanentemente, ¿está seguro?' } do
									%i.fa.fa-lg.fa-trash-o
								= link_to group_path(g) do
									%i.fa.fa-lg.fa-list