.management
	%ul.nav.nav-tabs
		%li
			= link_to groups_path do
				Listado
		%li.active
			= link_to new_group_path do
				Crear grupo
	.management__content
		%h1 Creación de grupo
		%hr
		=render 'groups/partials/form_group'