-if @call.call_type == 'audio'
	%section.call.call-audio.panel.panel-info{:id => "call_#{caller_sip(@call)}"}
		.panel-heading
			%i.fa.fa-phone.fa-fw
			Llamada
		.panel-body.call__content
			.call__avatar
				=image_tag(interlocutor_avatar(@call), :class => 'avatar avatar--xl')
			%span.call__name.txt-primary
				=interlocutor_name(@call)
			%span.call__phone
				%i.fa.fa-phone.fa-lg
				=interlocutor_phone(@call)
			%span.call__email
				%i.fa.fa-envelope-o.fa-lg
				=interlocutor_email(@call)
			.call__actions
				%a.btn.btn-danger.call__cancel
					%i.fa.fa-square.fa-lg
				%a.btn.btn-warning.call__pause
					%i.fa.fa-pause.fa-lg
				%a.btn.btn-default.call__mute
					%i.fa.fa-microphone-slash.fa-lg
			%video#video-local{:controls => "", :muted => ""}
			%video#video-remote{:controls => ""}
			
-else
	%section.call.call-video.panel.panel-info{:id => "call_#{caller_sip(@call)}"}
		.panel-heading
			%i.fa.fa-video-camera.fa-fw
			Videollamada
			.call__actions.pull-right
				%a.btn.btn-warning.call__pause
					%i.fa.fa-pause.fa-lg
				%a.btn.btn-danger.call__cancel
					%i.fa.fa-square.fa-lg
				%a.btn.btn-default.call__mute
					%i.fa.fa-microphone-slash.fa-lg
		.panel-body.call__content
			%video.call__video-local#video-local{:controls => "", :muted => ""}
			%video.call__video-remote#video-remote{:controls => ""}