.modal.fade.incoming-call{:role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg
		.modal-content.call
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &#215;
				%span
					Nueva Llamada
			.modal-body.call__content
				.call__avatar
					=image_tag(interlocutor_avatar(@call), :class => 'avatar avatar--xl')
				%span.call__name.txt-primary
					=interlocutor_name(@call)
				%span.call__phone
					%i.fa.fa-phone.fa-lg
					=interlocutor_phone(@call)
				%span.call__email
					%i.fa.fa-envelope-o.fa-lg
					=interlocutor_email(@call)
				.call__actions
					%a.btn.btn-primary.call__accept
						%i.fa.fa-phone.fa-lg
					%a.btn.btn-danger.call__reject
						%i.fa.fa-square.fa-lg