if (<%=@start_call%> == true) {
	var video = ("<%=@call.call_type%>" == "video") ? true : false ;
	make_call(video, "<%=@call.callee_sip%>", "<%=@call.id%>", "<%=current_user.sip_id%>");

	disable_link('.start-call_<%=@call.callee.sip_id%>');
	$('.start-call_<%=@call.callee.sip_id%>').addClass( "started-call_<%=@call.id%>" );
}else{
	$(".alert-cont").html('<%= j render partial: "layouts/messages" %>');
}
