if (<%= current_user == @call.caller %> || $('.incoming-call').length ) {
	$('.calls').append("<%= j render :partial => 'calls/active_call' %>");
	disable_link('.start-call_<%=@call.interlocutor.sip_id%>');
	$('.start-call_<%=@call.interlocutor.sip_id%>').addClass( "started-call_<%=@call.caller.sip_id%>" );
} else {
	$('body').append("<%= j render :partial => 'calls/incoming_call' %>");
}


$(".incoming-call").modal();