
$('.statistics__contents').html("<%= j render :partial => 'home/partials/modals/sended_calls_modal' %>");
$('.statistics__contents').append("<%= j render :partial => 'home/partials/modals/received_calls_modal' %>");
$('.statistics__contents').append("<%= j render :partial => 'home/partials/modals/missed_calls_modal' %>");

calls_details_sort_lists();

$('.statistics__status-body').html("<%= j render :partial => 'home/partials/calls/statistics_panel' %>");