.management
    %ul.nav.nav-tabs
        %li
            = link_to users_path do
                Listado
        %li
            = link_to new_user_path do
                Crear usuario
        %li.active
            %a{:href => '#'}
                Editar usuario
    .management__content
        =render 'users/partials/form_user'