.management
	%ul.nav.nav-tabs
		%li.active
			= link_to users_path do
				Listado
		%li
			= link_to new_user_path do
				Crear usuario
	.management__content
		.management__table-wrapper
			.top
				.management__search.input-group.input-group-sm
					%span.input-group-addon
						%i.glyphicon.glyphicon-user
					%input.search.input-sm.form-control{'placeholder' => 'Buscar usuario', 'type' => 'text'}
			
			%table._table-pag
				%thead
					%th ID
					%th Nombre
					%th Correo
					%th Identificador SIP
					%th Grupos
					%th Última Conexión
					%th Acciones
				%tbody
					- @users.each do |u|
						%tr
							%td
								= u.id
							%td
								= u.first_name
								= u.last_name
							%td
								= u.email
							%td
								= u.sip_id
							%td
								- u.groups.each do |g|
									= g.name
							%td
								= u.current_sign_in_at
							%td
								= link_to edit_user_path(u) do
									%i.fa.fa-lg.fa-pencil-square-o
								- if u.id == current_user.id
									%i.fa.fa-lg.fa-trash-o
								- else
									= link_to user_path(u), method: :delete, data: { :confirm => 'El usuario será borrado permanentemente, ¿está seguro?' } do
										%i.fa.fa-lg.fa-trash-o