/*A la hora de mostrar el perfil hay que distinguir entre current_user y el resto de usuarios, 
pues al perfil de current_user le corresponde un parcial distinto */
<% if @user.id == current_user.id %>
	$('.profile--center').html("<%= j render :partial => 'home/partials/profiles/user_profile' %>");
	$( ".profile--center__toggle" ).trigger( "click" );
	$( ".profile__submit" ).prop( "disabled", true );
	$('input').on(' input', function() {
		$( ".profile__submit" ).prop( "disabled", false );
	});

	// $('input').change(function() {
	// 	$('.profile__actions').fadeIn('slow');
	// });
	
<% else %>
	$('.profile--side').html("<%= j render :partial => 'home/partials/profiles/friend_profile' %>");
	if (!$('.video-modal').hasClass('in')) {
		$( ".profile--side__toggle" ).trigger( "click" );
	}
<% end %>

/* El click al toggle es para mostrar el modal de bootstrap, se simula aquí en vez de en el html 
para que el modal se muestre una vez el parcial con la nueva información haya sido cargada dentro del mismo,
evitando así mostrar por unos instantes la información del último perfil visitado */

truncated_text_autoscroll();