if (<%=current_user.status.use_chat %> == false || $("#chat").find("#chat__conv-list").length) {
	$('#chat').html("<%= j render :partial => 'home/partials/chats/chats' %>");
}
$('#contacts__group').html("<%= j render :partial => 'home/partials/contacts/tab_group' %>");
$('#contacts__uni').html("<%= j render :partial => 'home/partials/contacts/tab_uni', :locals => {:@users => User.all} %>");
$('#contacts__personal').html("<%= j render :partial => 'home/partials/contacts/tab_personal' %>");
$(".presence__<%=current_user.id%>").removeClass (function (index, css) {
    return (css.match (/(^|\s)presence--\S+/g) || []).join(' ');
});
$(".presence__<%=current_user.id%>").addClass("presence--<%=current_user.status.color%>");

<% publish_to "/user/status/#{current_user.id}" do %>
	var status_div = $(".presence__<%=current_user.id%>");
	var status_text = $(".presence__<%=current_user.id%>-text");
	var new_color_class = "presence--<%=current_user.status.color%>";
	var new_title = "<%=current_user.status.name%>";

	status_div.removeClass (function (index, css) {
	    return (css.match (/(^|\s)presence--\S+/g) || []).join(' ');
	});
	status_div.addClass(new_color_class);
	status_div.prop("title", new_title);
	status_text.text(new_title);
<% end %>

if (<%=current_user.status.make_calls%> == false && <%=current_user.status.receive_calls%> == false) {
	sip_logout();
}else{
	sip_login();
}

contacts();
chat_sort_lists();