= form_for(@group, :html=> {:class => 'form form--management'}) do |f|
	.field
		%label Nombre:
		= f.text_field :name, autofocus: true, :maxlength => 30
	.field
		%label Descripción:
		= f.text_area :description, autofocus: true, :maxlength => 70
	.field
		%label Usuarios:
		= f.collection_select(:user_ids, User.all, :id, :name, {}, {:multiple => true})
	.action.bottom
		= f.submit "Aceptar", class: "btn btn-primary"
		= link_to groups_path, class: "btn btn-default" do
			Cancelar