.page-wrapper
	.index
		%aside.menu.mb-only
			.panel.panel-primary
				.panel-heading.text-center
					%a.menu__link{:href => '#statistics'}
						%i.fa.fa-phone.fa-2x
					%a.menu__link{:href => '#contacts'}
						%i.fa.fa-book.fa-2x
					%a.menu__link{:href => '#chat'}
						%i.fa.fa-comments.fa-2x

		%article.calls#calls
			%section.statistics.panel.panel-default
				.statistics__contents
					=render 'home/partials/modals/sended_calls_modal'
					=render 'home/partials/modals/received_calls_modal'
					=render 'home/partials/modals/missed_calls_modal'
				.statistics__status-head.panel-heading
					%i.fa.fa-phone.fa-fw
					Estado de las Llamadas
				.statistics__status-body.panel-body
					.row
						=render 'home/partials/calls/statistics_panel'

		%section.contacts#contacts
			.panel.panel-default
				.panel-heading
					%i.fa.fa-book.fa-fw
					Agenda

				.panel-body
					.contacts__content
						%ul.nav.nav-tabs
							%li.active
								%a{'data-target' => '#contacts__personal','data-toggle' => 'tab'} Personal
							%li
								%a{ 'data-target' => '#contacts__group', 'data-toggle' => 'tab'} Grupos
							%li
								%a{'data-target' => '#contacts__uni', 'data-toggle' => 'tab'} Campus
						.tab-content
							.tab-pane.active#contacts__personal
								=render 'home/partials/contacts/tab_personal'
							.tab-pane#contacts__group
								=render 'home/partials/contacts/tab_group'
							.tab-pane#contacts__uni
								=render 'home/partials/contacts/tab_uni'

		.profiles
			%a.profile--side__toggle{'data-toggle' =>"offcanvas", 'data-target' => ".navmenu"}
			%aside.navmenu.navmenu-fixed-left.offcanvas.profile.profile--side{:role => "navigation"}

		%section.chat#chat
			=render 'home/partials/chats/chats'
			= subscribe_to "/chats"

		=audio_tag('ringback.mp3', loop: true, id: "ringback")
		=audio_tag('ringtone.mp3', loop: true, id: "ringtone")