.panel.panel-success.chat__conversation
	.panel-heading
		%i.fa.fa-comments.fa-fw
		=@chat.interlocutor(current_user.id).name
	.panel-body.chat__body{:id => "chat#{@chat.id}"}
		.row
			%ul.list.list--dashed.chat__lines
				-@lines.each do |line|
					%li{class: "chat__line #{self_or_other(line)}"}
						.chat__picture
							=image_tag(line.user.avatar, :class => 'avatar avatar--s')
						.chat__conv
							.chat__time
								%i.fa.fa-clock-o{"aria-hidden" => "true"}
								=time_ago_in_words(line.created_at).humanize
							.chat__name.txt-primary
								-if line.user == current_user
									Yo
								-else
									=line.user.name
							.chat__text
								=line.body
	.panel-footer
		= link_to chats_path, remote: true do
			%i.fa.fa-arrow-left.fa-lg.pull-left.chat__back
		= form_for Line.new, :remote => true do |f|
			.input-group.input-group-sm.chat__input-cont
				=hidden_field_tag 'chat_id', value = @chat.id 
				=f.text_field :body, class: "search input-sm form-control chat__input", :placeholder => "Escriba aquí...", :autocomplete => "off"
				=f.submit "Enviar", class: "input-group-addon btn btn-warning chat__submit"