.profile__header
	=image_tag(@user.avatar, :class => 'profile__picture')
	.profile__status
		%span{:title => @user.status.name, :class => "presence presence__#{@user.id} presence--#{@user.status.color}"}
		%p{:class => "profile__presence-name presence__#{@user.id}-text"}
			= @user.status.name
	%a.profile__back{:href => "javascript:void(0);", 'data-toggle' => "offcanvas", 'data-target' => ".navmenu"}
		%i.fa.fa-arrow-circle-o-left


.profile__body
	.profile__name
		%span
			=@user.name

	.profile__info
		.profile__info-text.pull-left
			.profile__field
				%i.fa.fa-envelope
				%span.profile__data-content
					=@user.email

		.profile__info-phone.pull-right
			.profile__field
				%i.fa.fa-phone
				%span.profile__data-content
					=@user.sip_id
			.profile__field
				%i.fa.fa-at
				%span.profile__data-content
					=@user.sip_server