.profile__header
	=image_tag('icons/default-avatar.png', :class => 'profile__picture')
	%a.profile__back{:href => "javascript:void(0);", 'data-toggle' => "offcanvas", 'data-target' => ".navmenu"}
		%i.fa.fa-arrow-circle-o-left
.profile__body
	-if current_user.outsiders.include?(@outsider)
		.profile__name
			%span#profile__data-name{:contenteditable => true, 'data-input' => '#inp-fname'}
				=@outsider.name

		.profile__info
			.profile__info-text.pull-left
				.profile__field
					%i.fa.fa-envelope
					%span.profile__data-content#profile__data-email{:contenteditable => true, 'data-input' => '#inp-email'}
						=@outsider.email

			.profile__info-phone.pull-right
				.profile__field
					%i.fa.fa-phone
					%span.profile__data-content#profile__data-phone{:contenteditable => true, 'data-input' => '#inp-phone'}
						=@outsider.sip_id
				.profile__field
					%i.fa.fa-at
					%span.profile__data-content#profile__data-mphone{:contenteditable => true, 'data-input' => '#inp-mphone'}
						=@outsider.sip_server

		= form_for(@outsider, :html => {:id => 'form-update'}, remote: :true) do |f|
			= f.hidden_field :first_name, :id => "inp-fname"
			= f.hidden_field :last_name, :id => "inp-lname"
			= f.hidden_field :email, :id => "inp-email"
			= f.hidden_field :sip_id, :id => "inp-phone"
			= f.hidden_field :sip_server, :id => "inp-mphone"

	-else
		.profile__name
			%span
				=@outsider.name

		.profile__info
			.profile__info-text.pull-left
				.profile__field
					%i.fa.fa-envelope
					%span.profile__data-content
						=@outsider.email

			.profile__info-phone.pull-right
				.profile__field
					%i.fa.fa-phone
					%span.profile__data-content
						=@outsider.sip_id
				.profile__field
					%i.fa.fa-mobile
					%span.profile__data-content
						=@outsider.sip_server