.modal-dialog.modal-lg
	.modal-content.profile__modal-content
		.modal-body
			%button.close{"data-dismiss" => "modal"}
				×
			= form_for(current_user, :url => update_user_simply_path, :html=> {:class => 'form form--management', :multipart => true}, remote: true, :authenticity_token => true, :method => :patch ) do |f|
				.profile__header
					.profile__picture-wrapper
						=image_tag(current_user.avatar, :class => 'profile__picture avatar self-avatar')
						%span.profile__edit-avatar.btn.btn-primary.btn-round.btn-file.no-autoscroll
							= f.file_field :avatar, autofocus: true, :class => "file-input", :onchange => "$('._submit-avatar').click();"
							%i.fa.fa-pencil.fa-2x{"aria-hidden" => "true"}
							=f.submit "", :class => "_submit-avatar hidden"

			= form_for(current_user, :url => update_user_registration_path, :html=> {:class => 'form form--management', :multipart => true}, remote: true, :authenticity_token => true) do |f|
				.profile__body
					.profile__name
						%span.profile__data-name
							=current_user.name
					%hr
					.profile__info
						.profile__field.field
							%span.profile__data-title
								Email
							.profile__data-content
								= f.text_field :email, autofocus: true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'
						.profile__field.field
							%span.profile__data-title
								Contraseña actual
							.profile__data-content
								= f.password_field :current_password, autocomplete: "off", :minlength => 8, :required => true
						.profile__field.field
							%span.profile__data-title
								Nueva contraseña
							.profile__data-content
								= f.password_field :password, autofocus: true, autocomplete: "off", :minlength => 8


						=link_to 'javascript:;',{'class' => 'profile__advanced-toggle', 'data-toggle'=>'collapse', 'data-target'=>'.profile__advanced'} do
							Información SIP
							%i.fa.fa-caret-square-o-down.fa-1x
						%ul.collapse.profile__advanced
							%li.profile__field.field
								%span.profile__data-title Identificador SIP
								.profile__data-content
									= current_user.sip_id
							%li.profile__field.field
								%span.profile__data-title Servidor SIP
								.profile__data-content
									= current_user.sip_server
							-if !current_user.ws_server.nil?
								%li.profile__field.field
									%span.profile__data-title Servidor WS
									.profile__data-content
										= current_user.ws_server

				.profile__bottom
					.profile__actions
						= f.submit "Guardar Cambios", class: "profile__submit btn btn-success"