/*---------
Este script sirve para recargar la agenda con AJAX cada vez que el usuario agrege un nuevo contacto

Esconde el enlace de agregar contacto en la pestaña en la que estemos con una pequeña animación y recarga las pestañas de la agenda 
en las que no estemos para mostrar la nueva información.
----------*/

//Deshabilitamos el enlace de agregar contacto mientras se ejecuta la animación para evitar duplicados al hacer más de un click
$('a:focus').attr("href", "javascript:void(0)");

//Si estamos en la pestaña campus se recarga las pestañas personal y grupo
if($('a:focus').attr("id") == 'add_uni') {
	$('a:focus').fadeOut('fast', function() {
		$('#contacts__personal').html("<%= j render :partial => 'home/partials/contacts/tab_personal' %>");
		$('#contacts__group').html("<%= j render :partial => 'home/partials/contacts/tab_group' %>");
		contacts();
	});
//Si estamos en la pestaña grupo se recarga las pestañas personal y campus
}else{
	var del = $('a:focus').attr("id");
	$('.'+del).fadeOut('fast', function() {
		$('#contacts__personal').html("<%= j render :partial => 'home/partials/contacts/tab_personal' %>");
		$('#contacts__uni').html("<%= j render :partial => 'home/partials/contacts/tab_uni', :locals => {:@users => User.all} %>");
		contacts();
	});
}