/*---------
Este script sirve para recargar la agenda con AJAX cada vez que el usuario elimine un contacto

Esconde el contacto eliminado en la pestaña personal con una pequeña animación y una vez terminada, 
recarga el resto de pestañas para mostrar la nueva información.
----------*/

$('a:focus').bind('ajax:success', function() {  
    $(this).closest('li').fadeOut('fast', function() {
    	$('#contacts__personal').html("<%= j render :partial => 'home/partials/contacts/tab_personal' %>");
    	$('#contacts__group').html("<%= j render :partial => 'home/partials/contacts/tab_group' %>");
    	$('#contacts__uni').html("<%= j render :partial => 'home/partials/contacts/tab_uni', :locals => {:@users => User.all} %>");
    	contacts();
	});
}); 
