/*---------
Este script sirve para esconder el contacto eliminado en la pestaña de grupos cada vez que el usuario eche un contacto de un grupo
----------*/

//Deshabilitamos el enlace de echar del grupo mientras se ejecuta la animación para evitar enviar la petición por duplicado
$('a:focus').attr("href", "javascript:void(0)");

$('.group-join-modal').html("<%= j render(:partial => 'home/partials/modals/group_contact_modal',  :locals => {:g => @group}) %>");

$('a:focus').closest('li').fadeOut();