/*------------------------------------*\
    #RENDERIZAR
\*------------------------------------*/
/*Renderizamos los datos del contacto en el parcial y una vez esten cargados, simulamos un click al toggle de bootstrap para mostrar el menu
/ con los datos ya cargados. */
$('.profile--side').html("<%= j render :partial => 'home/partials/profiles/outsider_profile' %>");
$( ".profile--side__toggle" ).trigger( "click" );

/*------------------------------------*\
    #EDITAR PERFIL DINÁMICAMENTE
\*------------------------------------*/
// Eliminamos los espacios en blanco para que, en caso de haberlos cuando esté el span vacío, se muestre el placeholder ("Vacío")
$('[contenteditable]').html(function(i, old){
    return $.trim(old);
});

//En los campos de números solo se pueden escribir números
$('[contenteditable]._number').on( 'keypress', function() {
	if(event.keyCode < 48 || event.keyCode > 57){return false;}
});

//La tecla intro no funcionará para evitar que el usuario haga los campos multilinea mientras escribe. Por estética.
$('[contenteditable]').on( 'keypress', function() {
	if(event.keyCode === 13){return false;}
});


//Borramos los espacios en blanco al entrar y salir del contenteditable. Por estética básicamente.
$('[contenteditable]').focusin( function() {
	$(this).stop(true, true).scrollLeft(0);
	old_value = $(this).text();
});

$('[contenteditable]').focusout( function() {
	$(this).stop(true, true).scrollLeft(0);
	//Esto es lo que hace que se actualice automáticamente la base de datos siempre que abandonemos un campo (y el valor del campo haya cambiado)
	if($(this).text() != old_value) {
		get_content(this);
	}
});

/*Como utilizamos spans editables en vez de inputs para introducir datos, al enviar el formulario cogemos los datos del span editado
y lo pasamos al input invisible que hayamos elegido en data-input en el html*/
function get_content(edited){
	//Si el campo editado es el nombre tendremos primero que dividirlo en nombre y apellidos para poder almacenarlo en la base de datos
	if($(edited).attr('id') === "profile__data-name") {
		var fullName = $(edited).text().split(' '),
			firstName = fullName[0],
			lastName = fullName.slice(1).join(' ');
		$('#inp-fname').val(firstName);
		$('#inp-lname').val(lastName);
	}else{
		var input = $(edited).data("input");
	    $(input).val($(edited).text());
	}
	$('#form-update').submit();
}

truncated_text_autoscroll();