/*---------
Al editar un contacto se actualizan todas las pestañas de la agenda para mostrar la nueva información
----------*/

$('#contacts__personal').html("<%= j render :partial => 'home/partials/contacts/tab_personal' %>");
$('#contacts__group').html("<%= j render :partial => 'home/partials/contacts/tab_group' %>");
$('#contacts__uni').html("<%= j render :partial => 'home/partials/contacts/tab_uni', :locals => {:@users => User.all} %>");


contacts();
truncated_text_autoscroll();