.panel.panel-default
	.panel-heading
		%i.fa.fa-comments.fa-fw
		Chats
	.panel-body#chat__conv-list
		.row
			.contacts__search.input-group.input-group-sm
				%span.input-group-addon
					%i.fa.fa-comment.fa-fw
				%input.search.input-sm.form-control{'placeholder' => 'Buscar conversación', 'type' => 'text'}
			-if current_user.status.use_chat
				%ul.list.list--dashed.list--contacts.list--chats
					%div{:style => "display:none;"}
						%li#template
						
					-current_user.chats.each do |ch|
						=link_to chat_path(ch), remote: true do
							-if ch.lines.any?
								%li
									.list__left
										.list__avatar.pull-left
											=image_tag(ch.interlocutor(current_user.id).avatar, :class => 'avatar avatar--s')
									.list__center
										.list__info
											%span.list__cont-name.txt-shorten.txt-primary
												=ch.interlocutor(current_user.id).name
										.list__chat.txt-shorten
											=ch.lines.last.body
									.list__right
										%span.chat-date
											=ch.lines.last.created_at.to_s(:time)
			-else
				%p.panel-center-msg No puedes usar el chat en estado #{current_user.status.name}