= form_for(@user, :html=> {:class => 'form form--management'}) do |f|
	%h1 Campos Usuario
	%hr
	.field
		%label Nombre:
		= f.text_field :first_name, autofocus: true
	.field
		%label Apellidos:
		= f.text_field :last_name, autofocus: true
	.field
		%label Correo:
		= f.email_field :email, autofocus: true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'
	.field
		%label Contraseña:
		= f.password_field :password, autocomplete: "off"
	.field
		%label Grupos:
		= f.collection_select(:group_ids, Group.all, :id, :name, {:include_blank => 'Sin grupo'}, {:multiple => true})
	.field
		%label Estado por defecto:
		= f.collection_select(:status_id, Status.all, :id, :name)
	.field
		%label ¿Administrador?
		= f.check_box :admin
	%h1 Campos SIP
	%hr
	.field
		%label Identificador SIP:
		= f.text_field :sip_id, autofocus: true, :placeholder => "12034"
	.field
		%label Servidor SIP:
		= f.text_field :sip_server, autofocus: true, :placeholder => "wsserver.com"
	.field
		%label Contraseña SIP:
		= f.password_field :sip_password, autocomplete: "off"
	.field
		%label Servidor WS:
		= f.text_field :ws_server, autofocus: true, :placeholder => "ws://wsserver.com:8088/ws"
	.action.bottom
		= f.submit "Aceptar", class: "btn btn-primary"
		= link_to users_path, class: "btn btn-default" do
			Cancelar
