<div id="login-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">Por favor, inicie sesión</h3>
                    </div>
                    
                    <div class="panel-body">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <fieldset>
                                <div class="form-group">
                                    <%= f.label :email %><br />
                                    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password %><br />
                                    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Contraseña" %>
                                </div>
                                <% if devise_mapping.rememberable? -%>
                                  <div class="checkbox">
                                    <label>
                                      <%= f.check_box :remember_me %>
                                      Recuérdame
                                    </label>
                                  </div>
                                <% end -%> 
                                <%= f.submit "Iniciar sesión", :class => "btn btn-l btn-success btn-block" %>
                            </fieldset>
                        <% end %>
                        <%= @exists %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>