/*------------------------------------*\
    #CONFIGURACION GLOBAL
\*------------------------------------*/
var current_user = gon.current_user;
var configuration = {
    uri: current_user.sip_id+'@'+current_user.sip_server,
    authorizationUser: current_user.sip_id,
    password: current_user.sip_password,
    wsServers: current_user.ws_server,
    hackIpInContact: true,
    hackWssInTransport: true,
};

/*------------------------------------*\
    #INICIALIZACIÓN
\*------------------------------------*/
var userAgent = new SIP.UA(configuration);

/*------------------------------------*\
    #ACCIONES
\*------------------------------------*/
function make_call(video, target, call_id, my_sip_id){
    var options = {
        media: {
            constraints: {
                audio: true,
                video: video
            },
            render: {
                remote: document.getElementById('video-remote'),
                local: document.getElementById('video-local'),
            }
        }
    };
    session = userAgent.invite(target, options);
    $.ajax({
        type:'GET',
        url:'/calls/'+call_id+'.js',
        data: {callee_sip_name: session.remoteIdentity.displayName},
        success: function(){
            unmute_sound("ringback");

            disable_link('#call_'+my_sip_id+" .call__content .call__actions .call__pause");

            common_actions(session);
            caller_listeners(session, call_id, my_sip_id);
            common_listeners(session, my_sip_id);
        }
    });
}

function sip_login(){
    if (!userAgent.isRegistered()){
        userAgent.register();
    }
}

function sip_logout(){
    if (userAgent.isRegistered()){
        userAgent.unregister();
    }
}

function mark_as_answered(id){
    $.ajax({
        type:'PUT',
        url:'/calls/'+id,
        data: {answered: true},
    });
}

function mark_as_ended(id){
    $.ajax({
        type:'PUT',
        url:'/calls/'+id,
        data: {duration: 0},
    });
}

function hold_call(caller_sip_id) {
    $('#call_'+caller_sip_id).switchClass('panel-info', 'panel-warning', 400, 'swing');
    btn_pause = $('#call_'+caller_sip_id+" .call__content .call__actions .call__pause");
    btn_pause.switchClass('call__pause', 'call__play');
    
    btn_pause.html("<i class='fa fa-play fa-lg'></i>");
}

function unhold_call(caller_sip_id) {
    $('#call_'+caller_sip_id).switchClass('panel-warning', 'panel-info');
    btn_play = $('#call_'+caller_sip_id+" .call__content .call__actions .call__play");
    btn_play.switchClass('call__play', 'call__pause');
    
    btn_play.html("<i class='fa fa-pause fa-lg'></i>");
}

function mute_call(caller_sip_id) {
    btn_mute = $('#call_'+caller_sip_id+" .call__content .call__actions .call__mute");
    btn_mute.switchClass('call__mute', 'call__unmute');
    btn_mute.html("<i class='fa fa-microphone fa-lg'></i>");
}

function unmute_call(caller_sip_id) {
    btn_unmute = $('#call_'+caller_sip_id+" .call__content .call__actions .call__unmute");
    btn_mute.switchClass('call__unmute', 'call__mute');
    btn_mute.html("<i class='fa fa-microphone-slash fa-lg'></i>");
}


/*------------------------------------*\
    #RECEPCIÓN DE LLAMADA
\*------------------------------------*/
userAgent.on('invite', function(session) {
    var caller_sip_id = session.request.getHeader('From').match("sip:(.*)@")[1];

    //Hacemos un paso intermedio para conseguir el id de la llamada desde el lado del callee.
    $.ajax({
        type:'GET',
        url:'/calls/getid/',
        data: {caller_sip_id: caller_sip_id, caller_sip_name: session.remoteIdentity.displayName}
    });
    unmute_sound("ringtone");

    callee_actions(session, caller_sip_id);
    common_actions(session);
    callee_listeners(session, caller_sip_id);
    common_listeners(session, caller_sip_id);
});



/*------------------------------------*\
    #INTERACCIÓN
\*------------------------------------*/
function common_actions(session){
    $('body').one('click', '.call__cancel', function () {
        session.cancel();
    });
    $('body').one('click', '.call__stop', function () {
        session.bye();
    });

    $('body').on('click', '.call__play', function () {
        session.unhold();
    });

    $('body').on('click', '.call__pause', function () {
        session.hold(); 
    });

    $('body').on('click', '.call__mute', function () {
        session.mute();
    });

    function reject_call(){
        session.reject();
    }

    $('body').on('click', '.call__unmute', function () {
        session.unmute(); 
    });
}

function callee_actions(session, caller_sip_id) {
    $('body').one('click', '.call__accept', function () {
        $.ajax({
            type:'GET',
            url:'/calls/getid/',
            data: {caller_sip_id: caller_sip_id, caller_sip_name: session.remoteIdentity.displayName},
            success: function(){

                session.accept({
                    media: {
                        render: {
                            remote: document.getElementById('video-remote'),
                            local: document.getElementById('video-local')
                        }
                    }
                });
                $('#call_' + caller_sip_id).each(function (i) {
                    $('[id="' + 'call_'+caller_sip_id + '"]:gt(0)').remove();
                }); 
            }
        }); 
    });

    $('body').one('click', '.call__reject', function () {
        session.reject()
    });
}

/*------------------------------------*\
    #EVENTOS SESIÓN
\*------------------------------------*/
function common_listeners(session, caller_sip_id){
    session.on('hold', function(){
        hold_call(caller_sip_id);
    });

    session.on('unhold', function(){
        unhold_call(caller_sip_id);
    });

    session.on('muted', function(){
        mute_call(caller_sip_id);
    });

    session.on('unmuted', function(){
        unmute_call(caller_sip_id);
    });
}

function callee_listeners(session, caller_sip_id){
    session.on('rejected', function(message, cause) {
        $('.incoming-call').remove();
        $('.modal-backdrop').remove();
        
        mute_sound("ringtone");
    });

    session.on('accepted', function(message, cause) {
        $('.incoming-call').remove();
        $('.modal-backdrop').remove();        
        mute_sound("ringtone");

        enable_link('#call_'+caller_sip_id+" .call__content .call__actions .call__pause");
        $('#call_'+caller_sip_id+" .call__content .call__actions .call__cancel").switchClass('call__cancel', 'call__stop');
    });

    session.on('terminated', function(message, cause) {
        $('#call_'+caller_sip_id).remove();
        enable_link(".started-call_"+caller_sip_id);
        $(".started-call_"+caller_sip_id).removeClass("started-call_"+caller_sip_id);
    });

    
}

function caller_listeners(session, call_id, caller_sip_id){
    session.on('accepted', function(){
        mark_as_answered(call_id);
        mute_sound("ringback");

        enable_link('#call_'+caller_sip_id+" .call__content .call__actions .call__pause");
        $('#call_'+caller_sip_id+" .call__content .call__actions .call__cancel").switchClass('call__cancel', 'call__stop');

    });
    session.on('terminated', function(message, cause) {
        $('#call_'+caller_sip_id).remove();
        mark_as_ended(call_id);
        enable_link(".started-call_"+call_id);
        $(".started-call_"+call_id).removeClass("started-call_"+call_id);

        mute_sound("ringback");
    });

    session.on('failed', function(){
        $('#call_'+caller_sip_id).remove();
        mark_as_ended(call_id);
        enable_link(".started-call_"+call_id);
        $(".started-call_"+call_id).removeClass("started-call_"+call_id);

        mute_sound("ringback");
    });
}


