@import '_settings.scss';

/*------------------------------------*\
    #TABLAS
\*------------------------------------*/
table {
    margin-top: 5px;
    width: 100%;
    min-width: 800px;
    & td,th {
        padding: 5px 20px;
    }
    & tbody > tr {
        border-top: 2px solid #e6e6e6;
        &:nth-child(odd) {
            background-color: #f6f6f6;
        }
    }
    
}

/*------------------------------------*\
    #TEXTO EDITABLE
\*------------------------------------*/
[contenteditable] {
    padding-bottom: 2px;
    border-bottom: 1.5px dashed rgba(#ccc, 0.9);
    &:hover {
        color: #ddd;
        opacity: 0.8;
    }
    &:focus {
        color: black;
        background-color: #ddd;
        padding: 5px 15px;
        text-overflow: clip!important;
    }
    &:empty::before {
        color: #aaa;
        content: 'Vacío';
        font-style: italic;
    }
}


.hidden {
    display: none;
}