@import '_settings.scss';

.hidden {
    display: none;
}

.presence {
    height: 32px;
    width: 32px;
    border-radius: 100%;

    &--Gris {
        background-color: $color-gray;
    }

    &--Verde {
        background-color: $color-green;
    }

    &--Rojo {
        background-color: $color-red;
    }

    &--Amarillo {
        background-color: $color-yellow;
    }
}

.btn {
    vertical-align: center;
}

.btn-round {
    border-radius: 100%;
}

.btn-warning {
    background-color: #f0ad4e!important;
    border-color: #eea236!important;
    color: white!important;
    &:hover {
        background-color: darken(#eea236, 5%)!important;

    }
}

.a-disabled, .a-disabled:hover, .a-disabled:active, .a-disabled:focus {
    background-color: $color-gray!important;
    border-color: $color-gray!important;
    opacity: 0.7;
}

.panel-center-msg {
    margin-top: 10%;
    color: darken($color-dark-gray, 10%);
    text-align: center;
    font-weight: bold;
}

/*------------------------------------*\
    #ESCONDER O MOSTRAR ELEMENTOS
\*------------------------------------*/
@media (min-width: 768px) {
    .mb-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .ds-only {
        display: none !important;
    }
}

/*------------------------------------*\
    #ALERTAS FLASH
\*------------------------------------*/
.alert-cont {
    max-width: 720px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999999;
}

.alert {
    transition: all 0.5s;
    margin-top: 20px;
    border-radius: 3px;
    padding: 12px;
    font-size: 18px;
    font-style: bold;

    & ul {
        list-style-type: none;
    }
}

//Error
.alert-alert, .alert-error {
    background-color: $color-light-red;
    color: darken($color-red, 20%);
}

//Exito
.alert-notice {
    background-color: $color-light-green;
    color: darken($color-green, 20%);
}

//Boton de cerrar
.close {
    margin-right: 10px;
    margin-top: -7px;
    text-decoration: none;
    font-size: 25px;
    font-style: bold;
}

/*------------------------------------*\
    #PANELES
\*------------------------------------*/
//Evita que haya paneles mas grandes que otros
.panel {
    margin-left: auto;
    margin-right: auto;
    max-width: 85vw;
}

//Paneles custom
.panel-green {
    border-color: $color-green;

    .panel-heading {
        border-color: $color-green;
        color: #fff;
        background-color: $color-green;
    }

    a {
        color: $color-green;

        &:hover {
            color: darken($color-green, 15%);
        }
    }
}

.panel-red {
    border-color: $color-red;

    .panel-heading {
        border-color: $color-red;
        color: #fff;
        background-color: $color-red;
    }

    a {
        color: $color-red;

        &:hover {
            color: darken($color-red, 15%);
        }
    }
}

.panel-yellow {
    border-color: $color-yellow;

    .panel-heading {
        border-color: $color-yellow;
        color: #fff;
        background-color: $color-yellow;
    }

    a {
        color: $color-yellow;

        &:hover {
            color: darken($color-yellow, 15%);
        }
    }
}

/*------------------------------------*\
    #PAGINACION
\*------------------------------------*/
.pagination {
    margin: 0 10px;
}

/*------------------------------------*\
    #TEXTOS
\*------------------------------------*/
.txt-secondary {
    color: #9b9b9b;
    font-size: 11px;
}

.txt-slim {
    font-family: 'Roboto';
    font-weight: 300;
}

.txt-primary {
    font-family: 'Source Sans Pro';
    font-weight: 600;
}
.txt-shorten {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 120%;

    &:hover {
        text-overflow: clip !important;
    }
}

/*------------------------------------*\
    #PANELES TABLAS JS
\*------------------------------------*/
//Contenido autogenerado por plugin de tablas javascript
.top {
    padding: 5px 0;
    height: 60px;
    background-color: #f6f6f6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid $color-light-gray;
}

.bottom {
    padding: 14px 0;
    height: 60px;
    background-color: #f6f6f6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid $color-light-gray;

    .dataTables_length {
        float: left;
        min-width: 170px;

        & select {
            display: inline-block;
            width: auto;
        }
    }

    .dataTables_paginate {
        float: right;

        .pagination {
            margin: 0;
        }
    }
}

/*------------------------------------*\
    #AVATARES
\*------------------------------------*/
.avatar {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;

    &--xs {
        width: 32px;
        height: 32px;
    }

    &--s {
        width: 43px;
        height: 43px;
    }

    &--m {
        width: 64px;
        height: 64px;
    }

    &--l {
        width: 128px;
        height: 128px;
    }

    &--xl {
        width: 160px;
        height: 160px;
    }

    &__status {
        position: absolute;
        bottom: -1px;
        right: 0;
        height: 14px;
        width: 14px;

        &--unknown {
            background-color: transparent;
            font-size: 18px;
            color: #555;
            text-align: center;
            font-weight: 900;
            bottom: 4px;
            right: 1px;
        }
    }
}

/*------------------------------------*\
    #FORMULARIOS
\*------------------------------------*/

.form {
    .field_with_errors {
        display: inline-block;
        padding: 0;

        * {
            border-color: $color-red !important;
        }
    }

    .field {
        margin: 10px;
    }

    input:not([type=submit]), select, textarea {
        border: 1px solid $color-gray;
        border-radius: 3px;
        padding: 3px 10px;
    }

    input[type=number] {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    select {
        min-width: 200px;
        height: auto;
        max-height: 70px;
        overflow-y: auto;
    }
}

.form--management {
    label {
        text-align: right;
        width: 230px;
        margin-right: 15px;
    }

    input[type=number] {
        width: 50px;
    }

    input[type=checkbox] {
        height: 20px;
        width: 20px;
    }

    .action {
        padding-left: 40px;
    }

    .action > .btn {
        margin: 0 5px;
        margin-top: -2px;
        height: 35px;
        width: auto;
    }
}

.form--contacts {
    input, select {
        width: 100%;
    }

    label {
        width: 100%;
        text-align: center;
    }

    .action {
        margin-top: 30px;
        text-align: center;

        & > .btn {
            padding: 7px 0;
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .form {
        label {
            width: 100%;
            text-align: center;
        }

        .field {
            text-align: center;
        }

        input, textarea, select {
            width: 100% !important;
            height: 35px;
        }

        input[type=checkbox] {
            height: 30px;
            width: 30px;
        }

        .action {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
}

/*------------------------------------*\
    #LISTAS
\*------------------------------------*/
.list {
    $b: ".list";

    padding: 0;

    &__empty {
        text-align: center;
        margin: 20px;
        font-size: 16px;
        color: $color-dark-gray;
    }

    &--dashed {
        list-style-type: none;
        line-height: normal;

        li {
            padding: 10px 10px;
            padding-right: 20px;
            border-bottom: 1px dashed $color-gray;
        }
    }

    &--nested {
        margin-top: 10px;
        margin-bottom: -7px;
        margin-left: 15px;
        margin-right: 15px;
        border-top: 1px solid $color-gray;
        list-style-type: none;
        line-height: normal;
        height: auto;
        max-height: 250px;
        overflow-y: auto;

        li:first-child {
            padding-top: 10px;
        }

        li:last-child {
            border: 0;
        }
        li {
            padding-right: 10px!important;
            min-width: 230px;

        }
    }

    &--contacts {
        #{$b}__editable {
            display: none;
        }

        li:hover {
            #{$b}__editable {
                display: block;
                color: darken($color-gray, 20%);
                position: absolute;
                top: 7px;
                right: 25px;
            }

            background-color: $color-light-gray;
        }

        li {
            display: flex;
            position: relative;
            align-content: center;
            height: 70px;
            width: 100%;
        }

        #{$b}__left {
            flex-grow: 1;
            align-self: center;
            min-width: 65px;
            width: 20%;
            padding-left: 5px;

            #{$b}__avatar {
                position: relative;
            }
        }

        #{$b}__center {
            width: calc(80% - 40px);
            align-self: center;

            #{$b}__info {
                margin: 0;
                padding: 0;
                width: 100%;
                text-align: left!important;
                #{$b}__cont-name {
                    color: $color-black;
                    font-size: 16px;
                    max-width: 85%!important;
                }
            }

            #{$b}__actions {
                margin: 0;
                padding: 0;

                #{$b}__icon {
                    color: white;
                    margin-right: 5px;
                }
            }
        }

        #{$b}__right {
            width: 40px; 
            margin-bottom: 1px;
            align-self: flex-end;
            .label {
                position: absolute;
                top: 12px;
                right: 10px;
            } 
        }
    }

    &--call-details {
        li:first-child {
            margin-top: -12px;
        }
        li {
            height: 80px;
        }
        #{$b}__left {
            width: 15%;
            min-width: 0;
        }
        #{$b}__center {
            width: 80%;
        }
        #{$b}__right {
            align-self: center;
        }
        #{$b}__cont-name {
            font-size: 18px!important;
            margin-top: 23px;
            margin-left: 30px;
        }
        #{$b}__cont-duration {
            font-size: 18px;
        }
        @media(max-width: 768px) {
            #{$b}__left {
                width: 90px;
            }
            #{$b}__center {
                width: calc(100% - 180px)
            }
            #{$b}__cont-name {
                display: none;
            }
            #{$b}__avatar {
                margin-left: 50%;
                transform: translateX(-50%);
            }
            #{$b}__right {
                width: 90px;
            }
        }
    }

    &--groups {
        li {
            position: relative;
        }
        #{$b}__info {
            margin-left: 10px;
            text-align: center;

            #{$b}__name {
                display: inline-block;
                font-size: 18px;
                line-height: 130%;
            }

            #{$b}__description {
                display: block;
                word-wrap: break-word;
            }
        }
        #{$b}__add-to-group {
                position: absolute;
                right: 12px;
                top: -5px;
                font-size: 1.7em;
        }
    }

    &--chats {
        margin-top: -5px;
        #{$b}__left {
            max-width: 65px!important;
        }
        #{$b}__cont-name {
            font-size: 17px!important;
        }
        #{$b}__right {
            align-self: flex-start;
            margin-top: 9px;
        }
        #{$b}__chat {
            max-width: 90%!important;
        }
    }

    &--add-group {
        li:hover {
            background-color: white;
        }
        #{$b}__right {
            align-self: center;
            object i{
                padding: 2px;
            }
        }
    }

    &__icon {
        margin: 3px 0px;
    }

    // &__editable {
    //     float: right;
    //     margin-top: 3px;
    //     text-align: center;
    //     margin-right: 5px;
    // }
}


.statistics__modal {
    .modal-body {
        padding-bottom: 45px;
    }
    // @media(max-width: 768px) {
    //     .pagination {
    //         float: none!important;
    //         position: absolute;
    //         margin-left: 50%;
    //         transform: translateX(-50%);
    //     }
    // }
}

/*------------------------------------*\
    #BOOTSTRAP NAVMENU
\*------------------------------------*/
//Se usa conjunto al profile--side
.navmenu {
    border: 0;
    min-height: 450px;

    @media (max-width: 768px) {
        max-width: 100% !important;
    }
}

/*------------------------------------*\
    #PERFIL
\*------------------------------------*/

.profile {
    $b: ".profile";

    &__header {
        height: 40%;
        width: 100%;
    }

    &__body {
        height: 60%;
        width: 100%;
    }

    #{$b}__picture {
        object-fit: cover;
        object-position: center;
    }

    span {
        @extend .txt-shorten;
    }

    &--side {
        width: 475px;
        height: 100%;
        background-color: $color-blue;
        overflow-y: auto;
        overflow-x: none;

        #{$b}__back {
            position: absolute;
            top: 10px;
            right: 30px;
            color: white;
            mix-blend-mode: difference;
            opacity: 0.7;
            font-size: 45px;

            &:hover {
                color: #bbb;
            }
        }

        #{$b}__status {
            position: absolute;
            top: 28px;
            left: 30px;
            display: flex;
        }
        
        #{$b}__presence-name {
            font-weight: bold;
            font-size: 20px;
            color: white;
            display: inline-block;
            margin-left: 10px;
            padding: 0 20px;
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: 2px;
        }

        #{$b}__picture {
            overflow: visible;
            height: 100%;
            width: 100%;
        }

        #{$b}__body {
            color: white;
            padding: 5% 7%;
        }

        #{$b}__name {
            font-size: 45px;
            padding: 0;

            span {
                max-width: 100%;
            }
        }

        #{$b}__info {
            font-size: 20px;
            color: lighten($color-gray, 7%);
            margin-top: 10px;

            [contenteditable] {
                padding: 3px 5px;
            }

            i {
                width: 20px;
                margin: 5px;
                margin-right: 7px;
                margin-bottom: 7px;
                font-size: 25px;
                text-align: center;
            }
        }

        #{$b}__data-content {
            max-width: 67%;
        }

        #{$b}__info-text {
            width: 60%;
        }

        #{$b}__info-phone {
            width: 40%;
        }

        #{$b}__bottom {
            width: 100%;
            position: absolute;
            padding-bottom: 15px;
            left: 0px;
            bottom: 0;
        }

        #{$b}__actions {
            color: white;
            text-align: center;

            & > * {
                margin: 0 4.3vmin;
            }
        }
    }

    &--center {
        #{$b}__modal-content {
            min-height: 300px;
            border-radius: 1px;
            padding-top: 30px;
        }

        .modal-body {
            overflow: hidden;
        }

        .close {
            position: absolute;
            right: 15px;
            top: 0;
        }

        #{$b}__header {
            width: 30%;
            height: 100%;
            float: left;
            text-align: center;
            
        }
        #{$b}__picture-wrapper {
            position: relative;
            display: inline-block;
            width: 18vw;
            height: 18vw;
            min-height: 135px;
            min-width: 135px;
            max-height: 180px;
            max-width: 180px;
        }
        #{$b}__picture {
            width: 100%;
            height: 100%;
        }

        #{$b}__edit-avatar {
            position: absolute;
            display: inline-block;
            bottom: 2px;
            left: 15px;
            padding: 7px 9px;
            font-size: 13px;
        }

        #{$b}__edit-avatar-modal-ok {
            position: absolute;
            top: 20px;
            right: 30px;
        }

        #{$b}__body {
            padding-left: 20px;
            width: 70%;
            height: 100%;
            float: left;
        }

        #{$b}__name {
            margin: 10px 0;
            display: inline-block;
            font-size: 24px;
        }

        #{$b}__info {
            font-weight: 600;
        }

        #{$b}__field {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        #{$b}__data-title {
            color: darken($color-gray, 12%);
            width: 140px;
            display: inline-block;
        }

        #{$b}__data-content {
            display: inline-block;

            input {
                color: darken($color-blue, 20%);
            }
        }

        #{$b}__advanced {
            padding: 0;
        }

        #{$b}__bottom {
            position: absolute;
            top: 18px;
            right: 30px;
        }

        // #{$b}__submit{
        //     padding-top: 0px!important;
        //     padding-bottom: 0px!important;
        //     width: 70%!important;
        // }
        #{$b}__submit:disabled {
            background-color: $color-gray;
            border-color: $color-gray;
            opacity: 0.5;
        }
    }
}

@media (max-width: 768px) {
    $b: ".profile";

    .profile--side {
        max-width: 100%;

        #{$b}__body {
            height: 60%;
            min-height: 400px;
        }

        #{$b}__header {
            height: 40%;
            min-height: 200px;
            text-align: center;
        }

        #{$b}__bottom {
            position: absolute;
            bottom: 0;
        }

        #{$b}__info > * {
            width: 100%;
            display: block;
            float: none !important;
        }

        #{$b}__field {
            width: 100%;
            display: block;
        }

        #{$b}__data-content {
            max-width: 80%;
        }
    }

    .profile--center {
        #{$b}__header {
            width: 100%;
            float: none;
        }

        #{$b}__body {
            padding: 0;
            width: 100%;
            float: none;
        }

        #{$b}__name {
            display: block;
            text-align: center;
            width: 100%;
            margin-bottom: 0;
        }

        #{$b}__field {
            display: block;
        }

        #{$b}__data-title {
            width: auto;
            margin: 0 auto;
            text-align: center;
            display: block;
        }

        #{$b}__data-content {
            width: auto;
            margin: 10px auto;
            text-align: center;
            display: block;
            padding: 0 50px;
        }

        #{$b}__bottom {
            position: relative;
            top: 0;
            right: 0;
            margin-top: 20px;
            margin-bottom: 30px;
            padding: 0 50px;
            text-align: center;

            input {
                height: 45px;
                padding: 0;
                vertical-align: center;
                font-size: 16px;
            }
        }

        #{$b}__advanced-toggle {
            text-align: center;
            display: block;
        }
        #{$b}__edit-avatar-modal-ok {
            position: static;
            text-align: center;
            padding: 20px;
            padding-top: 0px;
            margin-top: 0px;
        }
    }
}