/*------------------------------------*\
    #COLOR-VARIABLES
\*------------------------------------*/
$color-yellow: #f0ad4e;
$color-red: #d9534f;
$color-green: #5cb85c;
$color-gray: #c9c9c9;
$color-blue: #337ab7;
$color-light-red: #f2dede;
$color-light-green: #dff0d8;
$color-light-gray: #e6e6e6;
$color-dark-gray: #9C9C9C;
$color-black: #474747;