@import '_settings.scss';

/*------------------------------------*\
    #NAVBAR
\*------------------------------------*/

.navbar {
    $b: ".navbar";
    &-brand {
        line-height: inherit;
    }
    &--uca {
        background-color: $color-blue;
        border-bottom: 2px solid $color-yellow;
        padding: 0 20px;
        color: white;
        height: 55px;
    }

    &__left {
        display: flex;
        align-items: center;
        float: left;
        height: 100%;
        #{$b}__logo {
            float: left;
            width: 125px;
        }

        #{$b}__title {
            color: white;

            &:hover {
                color: white;
            }
        }
    }

    &__right {
        height: 100%;
        max-height: 100%;
        float: right;
        display: flex;
        align-items: center;
        .nav {
            display: flex;
            align-items: center;
        }
        & > .nav > li {
            display: inline-block;
        
            .dropdown-menu {
                color: $color-black;
                float: right;
                .dropdown-arr {
                    right: 38px;
                    position: absolute;
                    top: -18px;
                    display: block;
                    width: 0;
                    height: 0;
                    border: 9px solid transparent;
                    border-bottom-color: white;
                }
                a {
                    color: $color-blue;
                }
            }
        }

        .dropdown-toggle {
            color: white;
            padding: 0 15px;
            background-color: transparent!important;
            display: flex;
            align-items: center;
            div {
                display: inline-block;
            }
            i{
                margin-left: 7px;
            }
            &:hover, &:active, &:focus {
                opacity: 0.8;
            }
        }
    }
}

.status-menu {
    a li {
        display: flex;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px dashed $color-gray;
        &:hover {
            background-color: $color-light-gray;
        }
    }
    &__icon {
        margin: 0 10px;
        display: inline-block;
    }
}

/*------------------------------------*\
    #Index
\*------------------------------------*/
.page-wrapper {
    margin: 0;
    padding: 0 31px;
}

.menu__link {
    margin: 0px 5%;
    color: white;
    &:hover, &:active, &:focus {
        color: white;
        opacity: 0.7;
    }
}

.index {
    @include make-row;
    .menu {
        @include make-lg-column(12);
    }
    .calls {
        @media(min-width: 768px) {
            min-height: 700px!important;  
        }
        @include make-sm-column(7.5);

        @include make-sm-column-push(4.5);

        @include make-lg-column(6);

        @include make-lg-column-push(3);
    }

    .contacts {
        @include make-sm-column(4.5);

        @include make-sm-column-pull(7.5);

        @include make-lg-column(3);

        @include make-lg-column-pull(6);
    }

    .chat {
        @include make-sm-column(4.5);

        @include make-sm-column-pull(7.5);

        @include make-lg-column(3);

        @include make-lg-column-pull(0);
    }
}

.call {
    @include make-lg-column(12);
    padding: 0;
    color: $color-dark-gray;
    &__content {
        text-align: center;
        padding: 20px;
    }
    span {
        display: block;
        margin: 5px;

        & > *{
            margin-right: 10px;
        }
    }
    &__name {
        margin-top: 10px;
        color: $color-black;
        font-size: 18px;
    }
    &__actions {
        margin-top: 20px;
        & > * {
            margin: 0 5px;
        }
    }

    #video-remote {
        display: none;
        
    }

    #video-local {
        display: none;
        
    }
    
    &__video-remote {
        height: 400px;
        width: 100%;
        display: block!important;
    }

    &__video-local {
        display: block!important;
        height: 120px;
        width: 30%;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
}

.call-video {
    .call__actions {
        margin: 0;
        margin-top: -3px;
        & a {
            padding: 3px 5px;
            margin: 0 2px;
        }
    }
}
.statistics {
    @include make-lg-column(12);
    padding: 0;

    &__calls {
        @include make-lg-column(4);
    }

    &__info {
        @include make-row;

        color: white;
    }

    &__icons {
        @include make-xs-column(3);
        @media(max-width:1199px){
            padding-left: 5px;
        }
        font-size: 40px;
    }

    &__text {
        margin-right: 10px;
        text-align: right;
    }
}

.contacts {
    &__content {
        @include make-row;
        .nav-tabs {
            margin-left: -1px;
            @media(max-width:1199px){
                font-size: 13px;
            }
        }
    }
    

    &__search {
        margin: 10px 10px;
    }

    &__search--personal {
        margin-right: 0;
    }

    &__add {
        padding: 0;
        margin-top: 3px;
        margin-left: 5px;
        margin-right: 10px;
        text-align: right;
    }

    & .txt-shorten {
        max-width: 135px; 
    }

    .pagination {
        float: right;
    }

    @media(min-width:1200px){
        .panel-body {
            min-height: 501px;
            padding-top: 6px;
        }
        .contacts__bottom {
            min-height: 28px;
        }
        .pagination {
            float: none;
            position: absolute;
            bottom: 30px;
            right: 17px;
        }
    }
}

// #contacts__uni-list {
//     max-height: 428px;
//     overflow-y: scroll;
// }

.chat {
    $b: ".chat";
    .panel-body {
        height: 450px;
        padding-top: 6px;
        overflow-y: scroll;
    }

    &__conversation {
        z-index: 1000;
    }

    #chat__conv-list {
        height: 501px;
    }

    li {
        color: black;
    }
    &__line {
        padding: 15px 25px!important;
        display: flex;
        align-items: center;
         &:first-child {
            margin-top: -6px;
         }
    }

    &__text {
        margin-top: 5px;
    }

    &__picture {
        margin-left: 0;
        margin-top: 2px;
        margin-right: 15px;
    }

    &__time {
        float: right;
        margin-top: 2px;
        color: darken($color-dark-gray, 10%);
    }

    &__line--self {
        flex-direction: row-reverse;
        #{$b}__name{
            text-align: right;
        }
        #{$b}__picture {
            margin-right: 0;
            margin-left: 15px;
        }   
        #{$b}__text {
            margin-left: 15px;
        }
        #{$b}__time {
            float: left;
        }
    }

    &__name {
        font-size: 16px;
    }

    &__back {
        margin-top: 9px;
        padding-right: 8px;
    }

    &__input-cont {
        display: flex;
    }

    &__submit {
        width: auto;
    }



    &__conv {
        width: 100%;
    }
}

.incoming-call {
    .modal-dialog {
        padding: 0 120px;
    }
    .modal-header {
        font-size: 18px;
        vertical-align: center;
        & > span {
            margin-top: 4px;
        }
    }
    .modal-body {
        padding: 30px;
    }
}

.group-join-modal {
    .modal-body {
        max-height: 340px;
        overflow-y: auto;
        & > *:first-child {
            margin-top: -15px;
        }
    }
    @media(max-width:768px) {
        .modal-content {
            max-height: 90vh;
        }
        .modal-body {
            max-height: 100%;
        }
    }
}

/*------------------------------------*\
    #GESTI├ôN
\*------------------------------------*/
.management {
    width: 80%;
    margin: 0 auto;

    &__content {
        padding: 20px;
        overflow-x: auto;
    }

    &__search {
        width: 35%;
        min-width: 300px;
        margin: 0 20px;
        margin-top: 10px;
    }

    &__table-wrapper {
        & > * {
            min-width: 800px;
        }

        & > .top, .bottom {
            padding-left: 78px;
            padding-right: 78px;
        }
    }
}


/*------------------------------------*\
    #PERFILES
\*------------------------------------*/

#profile__data-name {
    @extend .txt-shorten;
    max-width: 100%;  
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}