- flash.each do |key, value|
	-if value.kind_of?(Array)
		= value.each do |message|
			%div{:class => "alert alert-#{key} alert-array"}
				%a.close{"data-dismiss" => "alert", :href => "#"} ×
				%ul
					%li
						= message
	-else
		%div{:class => "alert alert-#{key}"}
			%a.close{"data-dismiss" => "alert", :href => "#"} ×
			%ul
				%li
					= value

