/ Navigation
%nav.navbar.navbar--uca.navbar-static-top{:role => 'navigation'}
    .navbar__left
        %a{:href => '/'}
            =image_tag('icons/logoUCA.png', :class => 'navbar__logo')
        %a.navbar-brand.navbar__title.ds-only{:href => '/'} Sistema de Telefonía
    -if user_signed_in?
        -if current_user.status.use_chat
            =audio_tag('alert.mp3', id: "alert")
        .navbar__right
            %ul.nav
                -if current_user.admin?
                    %li.dropdown.ds-only
                        %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'} 
                            Administrador 
                            %i.fa.fa-caret-down
                        %ul.dropdown-menu
                            %li
                                =link_to users_path do
                                    %i.fa.fa-cogs
                                    Gestión de Usuarios
                            %li
                                =link_to groups_path do
                                    %i.fa.fa-users
                                    Gestión de Grupos
                            %li
                                =link_to statuses_path do
                                    %i.fa.fa-circle-o
                                    Gestión de Estados
                
                -if current_page?("/")
                    %li.dropdown
                        %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                            %span{:class => "presence presence--#{current_user.status.color} presence__#{current_user.id}"}
                            %i.fa.fa-caret-down
                        %ul.dropdown-menu.status-menu.pull-right
                            %li
                                %div.dropdown-arr
                            -Status.all.each do |i|
                                =link_to update_user_simply_path(:user => {:status_id => i.id }), :remote => true, :method => :patch do
                                    %li
                                        %div{:class => "status-menu__icon presence presence--#{i.color}"}
                                        .status-menu__text
                                            =i.name


                %li.dropdown
                    %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                        =image_tag(current_user.avatar.url, :class => 'avatar avatar--s self-avatar')
                        %i.fa.fa-caret-down
                    %ul.dropdown-menu.pull-right
                        %li
                            %div.dropdown-arr

                        %li
                            =link_to user_path(current_user), :remote => true do
                                %i.fa.fa-user.fa-fw
                                Perfil
                        %li.divider
                        %li
                            =link_to destroy_user_session_path, remote: true, :method => :delete do
                                %i.fa.fa-sign-out.fa-fw
                                Cerrar sesión
                        -if current_user.admin?
                            %li.divider.mb-only
                            %li.mb-only
                                =link_to users_path do
                                    %i.fa.fa-cogs
                                    Gestión de Usuarios
                            %li.mb-only
                                =link_to groups_path do
                                    %i.fa.fa-users
                                    Gestión de Grupos