!!!
%html
    %head
        %title Webphone UCA
        = include_gon
        = csrf_meta_tags
        %meta{:content => user_signed_in? ? current_user.id : "", :name => "user-id"}/

        %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
        %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
        %link{:href => "https://cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css", :rel => "stylesheet"}/
        %link{:href => "https://fonts.googleapis.com/css?family=Roboto:100,300", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic", :rel => "stylesheet", :type => "text/css"}/

     
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        %script{:crossorigin => "anonymous", :integrity => "sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=", :src => "https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"}


    %body
        .alert-cont
            = render 'layouts/messages'
        #navbar-wrapper
            = render "layouts/navbar"
        = yield
        
        %a.profile--center__toggle{"data-target" => ".profile--center", "data-toggle" => "modal"}
        .modal.fade.profile.profile--center{"aria-labelledby" => "User Profile", :role => "dialog", :tabindex => "-1"}
        -if user_signed_in?
            -if current_page?('/')
                =javascript_include_tag "sipjs-config"
            =publish_status