<% publish_to "/user/status/#{current_user.id}" do %>
	var status_div = $(".presence__<%=current_user.id%>");
	var status_text = $(".presence__<%=current_user.id%>-text");
	var new_color_class = "presence--<%=current_user.status.color%>";
	var new_title = "<%=current_user.status.name%>";

	status_div.removeClass (function (index, css) {
	    return (css.match (/(^|\s)presence--\S+/g) || []).join(' ');
	});
	status_div.addClass(new_color_class);
	status_div.prop("title", new_title);
	status_text.text(new_title);
<% end %>

if (<%=current_user.status.make_calls%> == false && <%=current_user.status.receive_calls%> == false) {
	sip_logout();
}else{
	sip_login();
}